body {
	user-select: none;
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y:scroll;
	position: relative;
}

.container{
	padding-bottom: 80px;
	min-height: 100vh;
	background-color: #ddddde;
	place-items: center;
	font-family: Poppins;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container #header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.container #header div{
	cursor: pointer;
}
.container h1 {
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.box {	
	width: 60vw;
	margin-top: 80px;
	background-color: #1d1e22;
	padding: 20px 40px;
	border-radius: 30px;
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
	color: #f9f9f9;
}
.box h3 a {
	font-size: 10px;
    color: #00ffbb;;
}
a{
	color: #f9f9f9;
	text-decoration:none;
}
ol {
	list-style: none;
	counter-reset: op-order-list;
}

li {
	counter-increment: op-order-list;
	margin-bottom: 10px;
	font-weight: 400;
	transition: transform 1.2s ease;
}

li::before {
	content: counter(op-order-list);
	width: 30px;
	height: 30px;
	margin-right: 10px;
	padding-left: 8px;
	padding-top: 4px;
	/* 	border-radius: 24% 76% 39% 61% / 0% 70% 30% 100%; */
	border-radius: 50% 50% 0% 50%;
	background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
	color: #1d1e22;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	transition: border-radius 1s ease, background 2s ease;
}

li:hover {
	border-radius: 10px;
	transform: translatex(20px);
	font-weight: 700;
}

li:hover::before {
	background: linear-gradient(
		135deg,
		rgba(245, 177, 97, 1) 0%,
		rgba(236, 54, 110, 1) 100%
	);
	padding-left: 4px;
	border-radius: 0% 50% 50% 50%;
	color: #1d1e22;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-weight: 600;
	color: #1c1c1e;
}

.pens-light {
	color: #1a238f;
	text-decoration: none;
	background: linear-gradient(to right, #1a238f 60%, #ff3300 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-flicker-in-glow{-webkit-animation:text-flicker-in-glow 4s linear both;animation:text-flicker-in-glow 4s linear both}
@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}

.kenburns-top{-webkit-animation:kenburns-top 5s ease-out both;animation:kenburns-top 5s ease-out both}
@-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}

.slide-in-elliptic-bottom-fwd{-webkit-animation:slide-in-elliptic-bottom-fwd .7s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-elliptic-bottom-fwd .7s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-elliptic-bottom-fwd{0%{-webkit-transform:translateY(600px) rotateX(30deg) scale(0);transform:translateY(600px) rotateX(30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% -1400px;transform-origin:50% -1400px;opacity:1}}@keyframes slide-in-elliptic-bottom-fwd{0%{-webkit-transform:translateY(600px) rotateX(30deg) scale(0);transform:translateY(600px) rotateX(30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% -1400px;transform-origin:50% -1400px;opacity:1}}

#pop-up-text{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	font-family: 'Romanesco', cursive;
	/* z-index: 1000; */
	color:#bb0000;
	background-color: #ddddde;
}


.tooltip {
  /* position: relative; */
  display: inline-block;
  /* border-bottom: 1px dotted rgb(255, 255, 255);  */
}

.tooltip .tooltiptext {    
	visibility: hidden;
    width: 120px;
    background-color: rgb(221 221 222);
    color: rgb(29 30 34);
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    transform: translateX(35%) translateY(-120%);
    margin-left: -60px;
    /* transition: all 1s ease-in; */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
	content: " ";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}